{% set whereami = "Accueil" %}

{{ include('/base.html.twig')}}
<head>
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
</head>

<body style="background-image:url({{ asset('img/background_mountain.png')}})">

<div class="container-fluid">
        <div class="row align-items-center">
            {{ include('/logo/logo.html.twig')}}
            <div class="col-md-6 text-center">
                <div class="Titre font-weight-bold display-4 color-white"><h1>Trouve ton<br>Alternance</h1></div>
            </div>
            <div class="col-md-3 text-right" style="margin-top:4vh">
                <div class="d-flex justify-content-pace-evenly">
                <a href={{ path('login_page') }}><span  style="width:200px" class="btn btn-custom no-wrap color-white bouton-espace "><b>Espace école</b></span></a>
                <span  style="width:200px" class="btn btn-custom no-wrap color-white bouton-espace "><b>Espace entreprise</b></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container_custom">
        <span onclick="window.location='/presentation?who=intern'" class="left-panel_custom d-flex justify-content-center align-items-center">
            <div class="text_custom color-white">
                <h2 class="responsive-text">Trouve ton entreprise</h2>
            </div>
        </span>
        <div onclick="window.location='/presentation?who=company'" class="right-panel_custom d-flex justify-content-center align-items-center">
            <div class="text_custom color-white">
                <h2>Trouve ton apprentis</h2>
            </div>
        </div>
    </div>

</body>
