
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
<link href={{ asset('css/loginModal/loginPage.css') }} rel="stylesheet">

<div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
    <h2 class="text-center">Identifiant</h2>
    {{ form_start(formLogin) }}
    <div class="mb-3">
        {{ form_row(formLogin.username) }}
    </div>
    <div class="mb-3">
        {{ form_row(formLogin.password) }}
    </div>
    <div class="mb-3 form-check">
        {{ form_row(formLogin.remember_me) }}
    </div>
    <button type="submit" class="btn btn-login bouton-login">CONNEXION</button>
{{ form_end(formLogin) }}
    <div class="text-center mt-3">
        <a href="">Vous n'avez pas de compte ?</a> |
        <a href="">Mot de passe oublié?</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

