{% set whereami = "Présentation" %}
{{ include('base.html.twig')}}

<head>
    <link rel="stylesheet" href="{{ asset('css/presentation/presentation.css') }}">
</head>

<body>

<hr />
<h1 class="centrage color-texte">
Ce qu'on vous propose
</h1>

<div class="image-container">
    <!-- Trois images alignées horizontalement -->
    <img src={{img1}} alt={{alt1}} width="auto" height="auto">
    <img src={{img2}} alt={{alt2}} width="auto" height="auto">
    <img src={{img3}} alt={{alt3}} width="auto" height="auto">
</div>

<h3 class="centrage color-texte">{{text}}</h3>
<div class="button-container">
    <!-- Bouton centré horizontalement -->
    <span class="contactez">En savoir plus</span>
</div>

<!-- Inclure Bootstrap.min.js et jQuery si nécessaire -->

</body>