{% set whereami = "Présentation" %}
{{ include('base.html.twig')}}

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('css/presentation/presentation.css') }}">
</head>

<body>

<div class="container-logo">
<hr \>
{{ include('logo/logo.html.twig') }}
<hr />
</div>

<h1 class="centrage color-texte">
Ce qu'on vous propose
</h1>

<div class="image-container">
    <!-- Trois images alignées horizontalement -->
    <img src={{img1}} alt={{alt1}} width="auto" height="auto">
    <img src={{img2}} alt={{alt2}} width="auto" height="auto">
    <img src={{img3}} alt={{alt3}} width="auto" height="auto">
</div>

<h3 class="centrage color-texte">{{text}}</h3>

<!-- Modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-info btn-savoir-plus" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  En savoir plus
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Réservation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      {{include('calendlyPage/calendly.html.twig')}}
      </div>
    </div>
  </div>
</div>
</body>